each poll in polls
  .card
    .card__title
      h2.h2
        span(data-poll-id= poll._id.toString()).toggle-show= poll.question

    .card__body.is-hidden
      a(href= '/poll/' + poll._id.toString()).card__ref Vote this poll

    .card__footer
      .poll.clearfix
        span.on-left Poll created by #[span.poll__author #{poll.creator}]
        span.on-right #[span.poll__votes #{poll.votes || 0}] votes