extends base

block header
  header.header
    .header__wrapper
      a.brand-logo(href='#') Voting App
      
      .nav-bar
        a.nav-bar__link(href='#') Log in
        a.nav-bar__link(href='#') Sign up


block main
  main.main


block footer
  footer.footer
    .footer__note 2016. #[a.footer__link(href='#') Voting App]. Created by #[a.footer__link(href='https://twitter.com/lethieu') thieurom].