doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='doanthieu')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='/css/styles.css')

  block body
    header.header
      .header__wrapper
        a.brand-logo(href='/') Voting App
        
        .nav-bar
          a.nav-bar__link(href='/login') Log in
          a.nav-bar__link(href='/signup') Sign up

    main.main
      .main__wrapper
        block main_content

    footer.footer
      .footer__note 2016. #[a.footer__link(href='/') Voting App]. Created by #[a.footer__link(href='https://twitter.com/lethieu') lethieu].