extends layout.pug


block main_content
  .card
    .card__title
      h2.h2 Create new account
      
    .card__body
      form.form(method='POST', action='/signup')
        label.form__label Username
          input.form__input(type='text', name='username', autofocus)

        label.form__label Password
          input.form__input(type='password', name='password')

        input.form__submit(type='submit', value='Submit')