doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Voting App')
    meta(name='author', content='doanthieu')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if (title)
      title= title
    else
      title= 'Votee'
    link(media='all' rel='stylesheet' href='stylesheets/app.css')
    script(type='text/javascript' src='javascripts/app.js')

  body
    block content
